body {
    margin: 0;
    background-color: #3a2828;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: rgb(112, 94, 94);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    font-size: small;
}

nav li {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    color: rgb(0, 60, 255);
}

.banner {
    text-align: center;
    background: linear-gradient(145deg, rgb(112, 94, 94));
    padding: 10px 30px;
}

img {
    border-radius: 10px;
    height: auto;
    width: 80%;
}

.card {
    background-color: rgb(112, 94, 94);
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    margin: 20px 30px;
    padding: 25px;
    vertical-align: top;
    font-size: larger;
}

.card a {
    color: #000000;
    text-decoration: none;
}

.cards {
    padding: 40px 40px;
    text-align: center;

}

footer {
    background-color: rgb(112, 94, 94);
    text-align: center;
    padding: 15px;
    font-size: small;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}
a:hover {
    color: rgb(0, 60, 255);
}